<app-spinner [loading]="loading"></app-spinner>
<div mat-dialog-title>
  <h1 class="dialog-title">{{'account.removerole' | translate}}</h1>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <h4 *ngIf="getAccount().roles.length <= 1">{{'current.role' | translate}}: {{getAccountRoles()}}</h4>
  <h4 *ngIf="getAccount().roles.length > 1">{{'current.roles' | translate}}: {{getAccountRoles()}}</h4>
  <mat-form-field>
    <mat-label>{{'select.role' | translate}}</mat-label>
    <mat-select [(ngModel)]="chosenRole" class="mat-select-role">
      <mat-option *ngFor="let role of getPossibleRemoveRoles()" [value]="role">{{role}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancelClick()">
    {{ "dialog.confirmation.close" | translate }}
  </button>
  <button mat-raised-button (click)="confirmRemove(chosenRole)" color="primary" class="confirm-remove-role-button">
    {{ "dialog.confirmation.action" | translate }}
  </button>
</div>

