<app-spinner [loading]="shouldDisplaySpinner()"></app-spinner>
<div>
  <br />
  <div class="page-container top-container">
    <br />
    <div class="page-container">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="content"
        [@loadedUnloadedList]="{ value: getListAnimationState() }"
      >
        <mat-card class="card">
            <mat-card-title>{{'orders.done' | translate}}</mat-card-title>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <button
              mat-button
              color="primary"
              class="resetButton"
              (click)="onResetClicked()"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table
                #table
                [dataSource]="dataSource"
                matSort
                *ngIf="shouldDisplayTable()"
              >
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "order.id" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let order"> {{ order.id }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="accountId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "order.account.id" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                    {{ order.accountId }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="productsNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "order.size" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                    <mat-list>
                      <mat-list-item
                        *ngFor="let product of order.orderedProducts"
                      >
                        <div mat-line>
                          {{ "product.id" | translate }} {{ product.productId }}
                        </div>
                        <div mat-line>
                          {{ "product.amount" | translate }}
                          {{ product.amount }}
                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalPrice">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "products.total.price" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                    {{ order.totalPrice + " zł" }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="show">
                  <mat-header-cell *matHeaderCellDef>{{
                    "order.show" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                    <mat-icon class="show" (click)="showOrder()"
                      >remove_red_eye</mat-icon
                    >
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="observe">
                  <mat-header-cell *matHeaderCellDef>{{
                    "order.client.observe" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                    <button mat-button color="primary" class="my-button">
                      {{ "order.client.observe.button" | translate }}
                    </button>
                    <button mat-button color="primary" *ngIf="order.observed">
                      {{ "order.client.already.observed" | translate }}
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table>
              <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
            </div>
          </mat-card-content>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          </mat-card-title>
        </mat-card>
        <mat-card class="card">
          <button button="submit" mat-stroked-button color="primary" (click)="openGenerateReportDialog()">
            <mat-icon style="margin-bottom: 3px;">insert_chart</mat-icon> {{'generate.report.title' | translate}}
          </button>
          <button button="submit" mat-stroked-button color="primary" (click)="openDisplayStatsDialog()">
            <mat-icon style="margin-bottom: 3px;">insert_chart</mat-icon> {{'display.stats.title' | translate}}
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
