<div class="background"></div>
<div class="container">
  <div class="panel" [@loadedUnloadedForm]="{ value: getFormAnimationState() }">
    <div class="image-container">
      <img
        class="background-image"
        src="assets/images/register-page-furnitures.jpg"
        alt=""
      />
    </div>
    <mat-stepper class="form-container" linear #stepper>
      <mat-step [stepControl]="accountForm" [editable]="editable">
        <form [formGroup]="accountForm">
          <ng-template matStepLabel>Fill out account details</ng-template>
          <p class="form-title">Meble Drewniane</p>
          <div class="form">
            <div class="form-account">
              <mat-form-field
                hintLabel="Max 32 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Email</mat-label>
                <input
                  matInput
                  #email
                  type="text"
                  formControlName="email"
                  maxlength="32"
                  placeholder="jdoe@example.com"
                  required
                />
                <mat-error
                  *ngIf="accountForm.get('email')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error *ngIf="accountForm.get('email')?.hasError('email')"
                  >Invalid format</mat-error
                >
                <mat-hint align="end">{{ email.value.length }}/32</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-account">
              <mat-form-field
                hintLabel="Max 20 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Login</mat-label>
                <input
                  matInput
                  #login
                  type="text"
                  formControlName="login"
                  maxlength="20"
                  required
                />
                <mat-error
                  *ngIf="accountForm.get('login')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error *ngIf="accountForm.get('login')?.hasError('pattern')"
                  >Login must start with a letter and contain only letters and
                  digits</mat-error
                >
                <mat-error
                  *ngIf="accountForm.get('login')?.hasError('minlength')"
                  >Login must contain at least 6 characters</mat-error
                >
                <mat-hint align="end">{{ login.value.length }}/20</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-account">
              <mat-form-field
                hintLabel="Max 32 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Password</mat-label>
                <input
                  #password
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                  maxlength="32"
                  required
                />
                <mat-error
                  *ngIf="accountForm.get('password')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="accountForm.get('password')?.hasError('pattern')"
                  >Password must contain at least one capital letter and one
                  special character</mat-error
                >
                <mat-error
                  *ngIf="accountForm.get('password')?.hasError('minlength')"
                  >Password must contain at least 8 characters</mat-error
                >
                <mat-hint align="end">{{ password.value.length }}/32</mat-hint>
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="form-account">
              <mat-form-field
                hintLabel="Max 32 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Confirm password</mat-label>
                <input
                  #confirmPassword
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="confirmPassword"
                  maxlength="32"
                  required
                />
                <mat-error
                  *ngIf="
                    accountForm.get('confirmPassword')?.hasError('required')
                  "
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="
                    accountForm.get('confirmPassword')?.hasError('notmatching')
                  "
                  >Passwords do not match</mat-error
                >
                <mat-hint align="end"
                  >{{ confirmPassword.value.length }}/32</mat-hint
                >
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="button-container">
            <button mat-button matStepperNext mats>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="personForm" [editable]="editable">
        <form [formGroup]="personForm">
          <ng-template matStepLabel>Fill out personal details</ng-template>
          <p class="form-title">Meble Drewniane</p>
          <div class="form">
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 20 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>First name</mat-label>
                <input
                  matInput
                  #firstName
                  type="text"
                  formControlName="firstName"
                  maxlength="20"
                  required
                />
                <mat-error
                  *ngIf="personForm.get('firstName')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="personForm.get('firstName')?.hasError('pattern')"
                  >Field must start with a capital letter and contain only
                  letters</mat-error
                >
                <mat-hint align="end">{{ firstName.value.length }}/20</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 20 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Last name</mat-label>
                <input
                  matInput
                  #lastName
                  type="text"
                  formControlName="lastName"
                  maxlength="20"
                  required
                />
                <mat-error
                  *ngIf="personForm.get('lastName')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="personForm.get('lastName')?.hasError('pattern')"
                  >Field must start with a capital letter and contain only
                  letters</mat-error
                >
                <mat-hint align="end">{{ lastName.value.length }}/20</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 20 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Street</mat-label>
                <input
                  matInput
                  #street
                  type="text"
                  formControlName="street"
                  maxlength="20"
                  required
                />
                <mat-error
                  *ngIf="personForm.get('street')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error *ngIf="personForm.get('street')?.hasError('pattern')"
                  >Field must start with a capital letter and contain only
                  letters</mat-error
                >
                <mat-hint align="end">{{ street.value.length }}/20</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 4 digits"
                appearance="fill"
                class="input"
              >
                <mat-label>Street number</mat-label>
                <input
                  matInput
                  #streetNumber
                  type="number"
                  formControlName="streetNumber"
                  max="9999"
                  oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, 4);"
                  required
                />
                <mat-error
                  *ngIf="personForm.get('streetNumber')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="personForm.get('streetNumber')?.hasError('min')"
                  >Field must be a positive integer</mat-error
                >
                <mat-error
                  *ngIf="personForm.get('streetNumber')?.hasError('max')"
                  >Field can have a maximum of 4 digits</mat-error
                >
                <mat-hint align="end"
                  >{{ streetNumber.value.length }}/4</mat-hint
                >
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 20 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>City</mat-label>
                <input
                  matInput
                  #city
                  type="text"
                  formControlName="city"
                  maxlength="20"
                  required
                />
                <mat-error *ngIf="personForm.get('city')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error *ngIf="personForm.get('city')?.hasError('pattern')"
                  >Field must start with a capital letter and contain only
                  letters</mat-error
                >
                <mat-hint align="end">{{ city.value.length }}/20</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 6 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Postal code</mat-label>
                <input
                  matInput
                  #postalCode
                  type="text"
                  placeholder="00-000"
                  formControlName="postalCode"
                  maxlength="6"
                  required
                />
                <mat-error
                  *ngIf="personForm.get('postalCode')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="personForm.get('postalCode')?.hasError('pattern')"
                  >Invalid format</mat-error
                >
                <mat-hint align="end">{{ postalCode.value.length }}/6</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field
                hintLabel="Max 20 characters"
                appearance="fill"
                class="input"
              >
                <mat-label>Country</mat-label>
                <input
                  matInput
                  #country
                  type="text"
                  formControlName="country"
                  maxlength="20"
                  required
                />
                <mat-error
                  *ngIf="personForm.get('country')?.hasError('required')"
                  >You must enter a value</mat-error
                >
                <mat-error
                  *ngIf="personForm.get('country')?.hasError('pattern')"
                  >Field must start with a capital letter and contain only
                  letters</mat-error
                >
                <mat-hint align="end">{{ country.value.length }}/20</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-person">
              <mat-form-field appearance="fill" class="input">
                <mat-label>Language</mat-label>
                <mat-select required formControlName="locale">
                  <mat-option
                    *ngFor="let language of languages"
                    [value]="language.value"
                  >
                    {{ language.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-person">
              <div class="button-container">
                <button mat-button matStepperPrevious mats>Back</button>
              </div>
            </div>
            <div class="form-person">
              <div class="button-container">
                <button mat-button (click)="onCreateAccount()" mats>
                  Create account
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm email address</ng-template>
        <p class="form-title">Congratulations!</p>
        <p>
          Your account has been successfully created! We have just sent an
          activation link to your registered email address. Once your account is
          activated, you will be able to log in and start exploring our wide
          range of furniture collections.
        </p>
        <p>
          We hope you find what you're looking for and enjoy shopping with us!
        </p>
      </mat-step>
    </mat-stepper>
  </div>
</div>
