<app-spinner [loading]="shouldDisplaySpinner()"></app-spinner>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="https://storage.googleapis.com/furniture-store-images/1.png" alt="Product Image">
    </div>
    <div class="col-md-8 product-info">
      <p><strong>{{ product.productGroup.name }}</strong></p>
      <p>{{product.furnitureDimensions.width}}m x {{product.furnitureDimensions.depth}}m x {{product.furnitureDimensions.height}}m</p>
      <p class="price"><strong>{{ product.price }},-</strong></p>
      <div class="star-rating">
        <ng-container *ngFor="let star of getStarArray(product.productGroup.averageRating)">
          <mat-icon class="star-icon">{{star}}</mat-icon>
        </ng-container>
      </div>
      <p class="d-inline-block g-color-primary rating">{{ 'product.rating' | translate }} {{product.productGroup.averageRating}}</p>
      <div *ngIf="product.available" class="available-message">
        {{ 'product.available.true' | translate }} {{product.amount}} {{'product.amounts' | translate}} , {{'product.order.now' | translate}}
        <div>
            <button mat-button [matMenuTriggerFor]="menu">{{ 'product.choose.color' | translate }}</button>
            <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item *ngFor="let color of product.productGroup.colors">{{color}}</button> -->
            </mat-menu>
          </div>        
        <div>
            <div>
                <button mat-button [matMenuTriggerFor]="menu">{{ 'product.choose.size' | translate }}</button>
                <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item *ngFor="let color of product.productGroup.colors">{{color}}</button> -->
                </mat-menu>
              </div>        
            <div>
    </div>
      </div>
      <p *ngIf="!product.available" class="unavailable-message">{{ 'product.available.false' | translate }}</p>
    </div>
  </div>
</div>
