<app-spinner [loading]="shouldDisplaySpinner()"></app-spinner>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img
        class="img-fluid"
        [src]="product.imageUrl"
        alt="Product Image"
      />
    </div>
    <div class="col-md-8 product-info">
      <p>
        <strong>{{ product.productGroup.name }}</strong>
      </p>
      <p>
        {{product.productGroup.category.name | translate}},
        {{ product.furnitureDimensions.width }}m x
        {{ product.furnitureDimensions.depth }}m x
        {{ product.furnitureDimensions.height }}m
      </p>
      <p class="price">
        <strong>{{ product.price }},-</strong>
      </p>
      <p>{{getProductColor() | translate}}</p>
      <div class="star-rating">
        <ng-container
          *ngFor="let star of getStarArray(product.productGroup.averageRating)"
        >
          <mat-icon class="star-icon">{{ star }}</mat-icon>
        </ng-container>
      </div>
      <p class="d-inline-block g-color-primary rating">
        {{ "product.rating" | translate }}
        {{ product.productGroup.averageRating }}
      </p>
      <div
        *ngIf="!product.archive && product.amount > 0"
        class="available-message"
      >
        {{ "product.available.true" | translate }} {{ product.amount }}
        {{ "product.amounts" | translate }} ,
        {{ "product.order.now" | translate }}
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            {{ "product.choose.color" | translate }}
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item *ngFor="let color of product.productGroup.colors">{{color}}</button> -->
          </mat-menu>
        </div>
        <div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">
              {{ "product.choose.size" | translate }}
            </button>
            <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item *ngFor="let color of product.productGroup.colors">{{color}}</button> -->
            </mat-menu>
          </div>
          <div *ngIf="isUserGuestOrClient()">
            <button mat-button color="primary" (click)="handleAddToCartButton(product.id)">
              {{ "product.add.to.cart" | translate }}
            </button>
          </div>
        </div>
      </div>
      <p *ngIf="product.archive && product.amount > 0" class="unavailable-message">
        {{ "product.available.false" | translate }}
      </p>
      <p *ngIf="!product.archive && product.amount == 0" class="unavailable-message">
        {{ "product.sold.out" | translate }}
      </p>
      <p *ngIf="product.archive && product.amount == 0" class="unavailable-message">
        {{ "product.withdrawn" | translate }}
      </p>
    </div>
  </div>
</div>
