<app-spinner [loading]="loading"></app-spinner>
<div class="container" [attr.data-bs-theme]="'dark'" [@loadedUnloadedForm]="{value: getFormAnimationState()}">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card border-dark" [style]="getCardStyling()">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="assets/images/profile-picture.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 class="mb-0">{{account.firstName + ' ' + account.lastName}}</h4>
                      <p class="text-secondary">ID: {{account.id}}</p>
                      <p class="text-muted font-size-sm">{{account.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-dark mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" [style]="getCardStyling()">
                    <h6 class="mb-0">{{'account.lastLogin' | translate}}</h6>
                    <span class="text-secondary">{{formatDate(account.lastLogin)}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" [style]="getCardStyling()">
                    <h6 class="mb-0">{{'account.lastFailedLogin' | translate}}</h6>
                    <span class="text-secondary">{{formatDate(account.lastFailedLogin)}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" [style]="getCardStyling()">
                    <h6 class="mb-0">{{'account.failedLogins' | translate}}</h6>
                    <span class="text-secondary">{{account.failedLoginCounter}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" [style]="getCardStyling()">
                    <h6 class="mb-0">{{'account.lastLoginIp' | translate}}</h6>
                    <span class="text-secondary">{{account.lastLoginIpAddress ?? '-'}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" [style]="getCardStyling()">
                    <h6 class="mb-0">{{'account.lastFailedLoginIp' | translate}}</h6>
                    <span class="text-secondary">{{account.lastFailedLoginIpAddress ?? '-'}}</span>
                  </li>
                  <li *ngIf="account.blockadeEnd" class="list-group-item d-flex justify-content-between align-items-center flex-wrap" [style]="getCardStyling()">
                    <h6 class="mb-0">{{'account.blockadeEnd' | translate}}</h6>
                    <span class="text-secondary">{{account.blockadeEnd}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card border-dark mb-3" [style]="getCardStyling()">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{'first.name' | translate}}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{account.firstName}}
                    </div>
                  </div>
                  <hr class="mt-2">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{'last.name' | translate}}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{account.lastName}}
                    </div>
                  </div>
                  <hr class="mt-2">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{'email' | translate}}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{account.email}}
                    </div>
                  </div>
                  <hr class="mt-2">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{'account.locale' | translate}}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{account.locale}}
                    </div>
                  </div>
                  <hr class="mt-2">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{'account.timezone' | translate}}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{account.timeZone}}
                    </div>
                  </div>
                  <hr class="mt-2">
                  <div class="row">
                    <div class="col-sm-12">
                      <button
                        mat-button
                        color="primary"
                        class="resetButton"
                        (click)="onResetClicked()"
                      >
                        <mat-icon>refresh</mat-icon>
                      </button>
                      <button mat-button color="primary" (click)="openEditAccountDialog()">{{'account.edit' | translate}}</button>
                      <button *ngIf="isUserNormalType()" mat-button color="primary" (click)="openChangeEmailDialog()">{{'change.email.button' | translate}}</button>
                      <button *ngIf="isUserNormalType()" mat-button color="primary" (click)="openChangePasswordDialog()">{{'change.password.button' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card border-dark h-auto" [style]="getCardStyling()">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <h3 class="d-flex align-items-center mb-3"><i class="material-icons">home</i><div class="mx-2">{{'account.address.information' | translate}}</div></h3>
                          <small class="d-flex align-items-center">
                            {{'account.country' | translate}}:
                            <p class="flex-grow-1 text-secondary mb-0 mx-2">
                              {{account.address.country}}
                            </p>
                          </small>
                          <small class="d-flex align-items-center">
                            {{'account.city' | translate}}:
                            <p class="flex-grow-1 text-secondary mb-0 mx-2">
                              {{account.address.city}}
                            </p>
                          </small>
                          <small class="d-flex align-items-center">
                            {{'account.street' | translate}}:
                            <p class="flex-grow-1 text-secondary mb-0 mx-2">
                              {{account.address.street}}
                            </p>
                          </small>
                          <small class="d-flex align-items-center">
                            {{'account.streetNumber' | translate}}:
                            <p class="flex-grow-1 text-secondary mb-0 mx-2">
                              {{account.address.streetNumber}}
                            </p>
                          </small>
                          <small class="d-flex align-items-center">
                            {{'account.postalCode' | translate}}:
                            <p class="flex-grow-1 text-secondary mb-0 mx-2">
                              {{account.address.postalCode}}
                            </p>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card border-dark h-auto" [style]="getCardStyling()">
                    <div class="card-body">
                      <h3 class="d-flex align-items-center mb-3"><i class="material-icons">account_circle</i><div class="mx-2">{{'account.state.information' | translate}}</div></h3>
                      <small class="d-flex align-items-center">
                        {{'account.roles' | translate}}:
                        <p class="account-roles flex-grow-1 text-secondary mb-0 mx-2">
                          {{getRoles()}}
                        </p>
                      </small>
                      <small class="d-flex align-items-center">
                        {{'account.accountState' | translate}}:
                        <p class="flex-grow-1 text-secondary mb-0 mx-2">
                          {{getAccountState() | translate}}
                        </p>
                      </small>
                      <small class="d-flex align-items-center">
                        {{'account.archive' | translate}}:
                        <p class="flex-grow-1 text-secondary mb-0 mx-2">
                          {{account.archive.toString() | translate}}
                        </p>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
