<!--<h3 class="mb-4">Zmień hasło</h3>-->
<!--<button [routerLink]="['/']" class="btn btn-light mb-4">Przejdź do strony głównej</button>-->
<!--<p>Zmiana hasła spowoduje wylogowanie</p>-->

<!--<form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">-->
<!--  <div class="row">-->
<!--    <div class="col-6">-->
<!--      <div class="input-group mb-2 mr-sm-2">-->
<!--        <div class="input-group-prepend">-->
<!--          <div class="input-group-text">Stare hasło</div>-->
<!--        </div>-->
<!--        <input type="password" class="form-control"-->
<!--               id="oldPassword" placeholder="Stare hasło"-->
<!--               name="oldPassword" formControlName="oldPassword">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div [hidden]="!(oldPassword.touched && !oldPassword.valid)"-->
<!--           class="text text-danger mb-2 mr-sm-2 mt-2">-->
<!--        Proszę podać stare hasło-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="col-6">-->
<!--      <div class="input-group mb-2 mr-sm-2">-->
<!--        <div class="input-group-prepend">-->
<!--          <div class="input-group-text">Nowe hasło</div>-->
<!--        </div>-->
<!--        <input type="password" class="form-control"-->
<!--               id="newPassword" placeholder="Nowe hasło"-->
<!--               name="newPassword" formControlName="newPassword">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <div [hidden]="!(newPassword.touched && !newPassword.valid)"-->
<!--           class="text text-danger mb-2 mr-sm-2 mt-2">-->

<!--        <div [hidden]="!(newPasswordLength == 0)">-->
<!--          Proszę podać nowe hasło-->
<!--        </div>-->
<!--        <div [hidden]="!(newPasswordLength < 8 && newPasswordLength != 0)">-->
<!--          Nowe hasło musi mieć przynajmniej 8 znaków-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <button type="submit"-->
<!--          class="btn btn-primary mb-2"-->
<!--          [disabled]="!changePasswordForm.valid">-->
<!--    Zaloguj</button>-->

<!--  <div [hidden]="!incorrectPassword">-->
<!--    <p class="text-danger">-->
<!--      Stare hasło niepoprawne-->
<!--    </p>-->
<!--  </div>-->
<!--</form>-->
<app-spinner [loading]="loading"></app-spinner>
<div class="container">

</div>
