<div class="action" [matMenuTriggerFor]="actionMenu">
  Action
  <mat-menu #actionMenu="matMenu">
    <button mat-menu-item *ngIf="account.accountState !== 'BLOCKED'" (click)="confirmBlock(account)">
      <mat-icon>lock_outline</mat-icon>
      <span>Block Account</span>
    </button>
    <button mat-menu-item *ngIf="account.accountState === 'BLOCKED'" (click)="confirmUnblock(account)">
      <mat-icon>lock_open</mat-icon>
      <span>Unblock Account</span>
    </button>
    <button mat-menu-item (click)="openAdminEditAccountDialog(account)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="openAdminChangeEmailDialog(account)">
      <mat-icon>email</mat-icon>
      <span>Change Email</span>
    </button>
    <button mat-menu-item (click)="confirmChangePassword(account)">
      <mat-icon>password</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item [mat-menu-trigger-for]="rolesMenu">
      <mat-icon>person</mat-icon>
      <span>Roles</span>
    </button>
    <mat-menu #rolesMenu="matMenu">
      <div
        [matTooltipDisabled]="canAddRole(account)"
        [matTooltip]="'Account has too many roles'"
        matTooltipPosition="above"
        matTooltipShowDelay="500">
      <button mat-menu-item
              (click)="openAddRoleDialog(account)"
              [disabled]="!canAddRole(account)">
        <mat-icon>person_add_alt_1</mat-icon>
        <span>Add Role</span>
        </button>
      </div>
      <div
        [matTooltipDisabled]="canRemoveRole(account)"
        [matTooltip]="'Account has only one role'"
        matTooltipPosition="left"
        matTooltipShowDelay="500">
        <button mat-menu-item
                (click)="openRemoveRoleDialog(account)"
                [disabled]="!canRemoveRole(account)">
          <mat-icon>person_remove</mat-icon>
          <span>Remove Role</span>
        </button>
      </div>
      <div
        [matTooltipDisabled]="canChangeRole(account)"
        [matTooltip]="'Account has too many roles'"
        matTooltipPosition="left"
        matTooltipShowDelay="500">
        <button mat-menu-item
                (click)="openChangeRoleDialog(account)"
                [disabled]="!canChangeRole(account)">
          <mat-icon>person_search</mat-icon>
          <span>Change Role</span>
        </button>
      </div>
    </mat-menu>
  </mat-menu>
</div>

