<div class="page-container" [@loadedUnloaded]="{value: getAnimationState()}">
  <mat-card class="profile-card">
    <p class="not-found">401</p>
    <div class="title"><div class="red">{{'notfound.oops' | translate}}</div> <div class="text">{{'unauthorized.title' | translate}}</div></div>
    <p class="description">{{'unauthorized.description' | translate}}</p>
    <button mat-raised-button (click)="redirectToHomePage()"><mat-icon>home</mat-icon> <div class="text">{{'notfound.button' | translate}}</div></button>
  </mat-card>
</div>

