<app-spinner [loading]="loading"></app-spinner>
<div class="page-container">
  <div class="panel" [@loadedUnloadedForm]="{value: getFormAnimationState()}">
    <form *ngIf="!loading" class="form-container" [formGroup]="accountForm">
      <mat-card class="profile-card">
        <mat-icon class="icon-back" (click)="onBackClicked()">exit_to_app</mat-icon>
        <ul class="breadcrumb-list">
          <li *ngFor="let breadcrumb of breadcrumbsData">{{ breadcrumb }}</li>
        </ul>
        <mat-card-header>
          <mat-card-title>{{account.login}}</mat-card-title>
          <mat-card-subtitle>ID: {{account.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="profile-container">
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.firstName' | translate}}</p>
                <p class="content">{{account.firstName}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.lastName' | translate}}</p>
                <p class="content">{{account.lastName}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.email' | translate}}</p>
                <p class="content">{{account.email}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.country' | translate}}</p>
                <p class="content">{{account.address?.country ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.city' | translate}}</p>
                <p class="content">{{account.address?.city ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.postalCode' | translate}}</p>
                <p class="content">{{account.address?.postalCode ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.street' | translate}}</p>
                <p class="content">{{account.address?.street ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.streetNumber' | translate}}</p>
                <p class="content">{{account.address?.streetNumber ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.locale' | translate}}</p>
                <p class="content">{{account.locale}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.archive' | translate}}</p>
                <p class="content">{{account.archive.toString() | translate}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.accountState' | translate}}</p>
                <p class="content">{{getAccountState() | translate}}</p>
                <mat-card-actions>
              <button mat-raised-button color="warn" (click)="confirmBlock()" [disabled]="!isBlocked()">{{'account.block' | translate}}
                <mat-icon>lock</mat-icon>
              </button>
              <button mat-raised-button color="success" (click)="confirmUnblock()" [disabled]="isBlocked()">{{'account.activate' | translate}}
                <mat-icon>lock_open</mat-icon>
              </button>
                </mat-card-actions>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.roles' | translate}}</p>
                <p class="content">{{getRoles()}}</p>
                <div class="border"></div>
                <mat-card-actions>
                  <button mat-raised-button color="success" (click)="redirectToAddAccountRolesPage()">{{'account.addrole' | translate}}
                    <mat-icon>thumb_up</mat-icon>
                  </button>
                  <button mat-raised-button color="warn" (click)="redirectToRemoveAccountRolesPage()">{{'account.removerole' | translate}}
                    <mat-icon>thumb_down</mat-icon>
                  </button>
                  <button mat-raised-button color="primary" class= "right-button" (click)="redirectToChangeAccountRolesPage()">{{'account.changerole' | translate}}
                    <mat-icon>compare_arrows</mat-icon>
                  </button>
                </mat-card-actions>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.lastLogin' | translate}}</p>
                <p class="content">{{formatDate(account.lastLogin)}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.lastFailedLogin' | translate}}</p>
                <p class="content">{{formatDate(account.lastFailedLogin)}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.failedLogins' | translate}}</p>
                <p class="content">{{account.failedLoginCounter ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.lastLoginIp' | translate}}</p>
                <p class="content">{{account.lastLoginIpAddress ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.lastFailedLoginIp' | translate}}</p>
                <p class="content">{{account.lastFailedLoginIpAddress ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry" *ngIf="account.timeZone">
                <p class="title">{{'account.timezone' | translate}}</p>
                <p class="content">{{account.timeZone}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry" *ngIf="account.blockadeEnd">
                <p class="title">{{'account.blockadeEnd' | translate}}</p>
                <p class="content">{{account.blockadeEnd}}</p>
                <div class="border"></div>
              </div>
            </div>
            <mat-card-actions>
              <div class="button-group">
                <button mat-raised-button color="primary" (click)="openAdminEditAccountDialog()">{{'account.edit' | translate}}</button>
                <button mat-raised-button *ngIf="isUserNormalType()" color="primary" (click)="openChangeEmailDialog()">{{'change.email.button' | translate}}</button>
                <button mat-raised-button *ngIf="isUserNormalType()" color="primary" class= "right-button" (click)="confirmChangePassword()">{{'change.password.button' | translate}}</button>
              </div>
            </mat-card-actions>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
