<app-spinner [loading]="loading"></app-spinner>
<div class="container">
  <div class="panel" [@loadedUnloadedForm]="{value: getFormAnimationState()}">
    <form *ngIf="!loading" class="form-container" [formGroup]="accountForm">
      <mat-card class="profile-card">
        <mat-card-header>
          <mat-card-title>{{account.login}}</mat-card-title>
          <mat-card-subtitle>ID: {{account.id}}</mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="redirectToAddAccountGroupsPage()">{{'account.addgroup' | translate}}</button>
          <button mat-raised-button color="primary" (click)="redirectToRemoveAccountGroupsPage()">{{'account.removegroup' | translate}}</button>
          <button mat-raised-button color="primary" (click)="redirectToChangeAccountGroupPage()">{{'account.changegroup' | translate}}</button>
        </mat-card-header>
        <mat-card-content>
          <div class="profile-container">
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.firstName' | translate}}</p>
                <p class="content">{{account.firstName}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.lastName' | translate}}</p>
                <p class="content">{{account.lastName}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.email' | translate}}</p>
                <p class="content">{{account.email}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.country' | translate}}</p>
                <p class="content">{{account.address?.country ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.city' | translate}}</p>
                <p class="content">{{account.address?.city ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.postalCode' | translate}}</p>
                <p class="content">{{account.address?.postalCode ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.street' | translate}}</p>
                <p class="content">{{account.address?.street ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.streetNumber' | translate}}</p>
                <p class="content">{{account.address?.streetNumber ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.locale' | translate}}</p>
                <p class="content">{{account.locale}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.groups' | translate}}</p>
                <p class="content">{{getGroups() | translate}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.accountState' | translate}}</p>
                <p class="content">{{getAccountState() | translate}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.archive' | translate}}</p>
                <p class="content">{{account.archive.toString() | translate}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.lastLogin' | translate}}</p>
                <p class="content">{{formatDate(account.lastLogin)}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.lastFailedLogin' | translate}}</p>
                <p class="content">{{formatDate(account.lastFailedLogin)}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.failedLogins' | translate}}</p>
                <p class="content">{{account.failedLoginCounter ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry">
                <p class="title">{{'account.lastLoginIp' | translate}}</p>
                <p class="content">{{account.lastLoginIpAddress ?? '-'}}</p>
                <div class="border"></div>
              </div>
            </div>
            <div class="row">
              <div class="entry">
                <p class="title">{{'account.lastFailedLoginIp' | translate}}</p>
                <p class="content">{{account.lastFailedLoginIpAddress ?? '-'}}</p>
                <div class="border"></div>
              </div>
              <div class="entry" *ngIf="account.blockadeEnd">
                <p class="title">{{'account.blockadeEnd' | translate}}</p>
                <p class="content">{{account.blockadeEnd}}</p>
                <div class="border"></div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onEditClicked()">{{'account.edit' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
