<app-spinner [loading]="shouldDisplaySpinner()"></app-spinner>
<div>
  <br>
  <div class="container top-container">
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content" [@loadedUnloadedList]="{value: getListAnimationState()}">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Accounts</h3>
            <button button="submit" mat-stroked-button color="primary" class="add-account">
              <mat-icon style="margin-bottom: 3px;">add</mat-icon> Create Account
            </button>
            <mat-form-field class="filter">
              <mat-autocomplete #auto='matAutocomplete'>
                <mat-option *ngFor="let fullName of fullNames" [value]="fullName">
                  {{fullName}}
                </mat-option>
              </mat-autocomplete>
              <input matInput class="search-input"
                     placeholder="Search"
                     (input)="autoCompleteFullNames($event)"
                     [matAutocomplete]="auto"
                     [(ngModel)]="fullName"
              >
              <button mat-raised-button color="primary" class="searchButton" (click)="onSearchClicked()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
            <button mat-button color="primary" class="resetButton" (click)="onResetClicked()">
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource" matSort *ngIf="shouldDisplayTable()" (matSortChange)="onSortClicked($event)">
                <ng-container matColumnDef="login">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Login</mat-header-cell>
                  <mat-cell *matCellDef="let account"> {{account.login}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                  <mat-cell *matCellDef="let account">{{account.email}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                  <mat-cell *matCellDef="let account">{{account.firstName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                  <mat-cell *matCellDef="let account">{{account.lastName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="roles">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
                  <mat-cell *matCellDef="let account">{{getRoles(account)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="state">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
                  <mat-cell *matCellDef="let account">{{account.accountState}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="show">
                  <mat-header-cell *matHeaderCellDef>Show Account</mat-header-cell>
                  <mat-cell *matCellDef="let account">
                    <mat-icon class="show" (click)="redirectToAccountPage(account.id)">remove_red_eye</mat-icon>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>Perform Action</mat-header-cell>
                  <mat-cell *matCellDef="let account">
                    <app-admin-actions-menu [account]="account" (loadingChanged)="listLoading = $event.valueOf()"></app-admin-actions-menu>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [matRippleDisabled]="true" (click)="showRippleAnimation($event)"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
