<app-spinner [loading]="loading"></app-spinner>
<div class="container">
  <mat-icon class="icon-back" (click)="onBackClicked()">home</mat-icon>
  <mat-autocomplete #auto='matAutocomplete'>
    <mat-option *ngFor="let fullName of fullNames" [value]="fullName">
      {{fullName}}
    </mat-option>
  </mat-autocomplete>

  <form (ngSubmit)="onSearchClicked()" class="searchForm">
    <mat-form-field appearance="fill" class="fullNameInput">

      <mat-label>{{ "admin.search.placeholder" | translate }}</mat-label>
      <input name="fullName"
             (input)="autoCompleteFullNames($event)"
             [(ngModel)]="fullName"
             matInput type="text"
             [matAutocomplete]="auto"
             style="color: gray;"
      >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" class="searchButton">
      {{ "admin.search" | translate}}
    </button>
  </form>
  <div class="panel" [@loadedUnloadedList]="{value: getListAnimationState()}">
    <mat-action-list *ngIf="!loading" class="list-container">
      <mat-list-item *ngFor="let account of accounts" (click)="redirectToAccountPage(account.id.toString())">
        <div mat-line>{{ account.login }}</div>
        <div mat-line>{{ account.firstName }} {{ account.lastName }}, {{account.email}}</div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-action-list>
  </div>
</div>
