<mat-toolbar color="secondary">
  <button mat-icon-button matTooltip="Menu" [matMenuTriggerFor]="mainMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#" (click)="redirectToAdminPage()">
      <mat-icon>admin_panel_settings</mat-icon><span>Admin Panel</span>
    </button>
  </mat-menu>
  <span class="toolbar-right title">SSBD</span>
  <span class="toolbar-item-spacer"></span>
  <button *ngIf="!isUserLoggedIn() && !isCurrentlyOnLoginPage()" mat-button color="primary" type="submit" class="login-button" (click)="redirectToLoginPage()">{{'login.login' | translate}}</button>
  <button *ngIf="isUserLoggedIn()" class="account" mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#" (click)="redirectToAccountPage()">
      <mat-icon>person</mat-icon><span>My Account</span>
    </button>
    <button mat-menu-item routerLink="#">
      <mat-icon>settings</mat-icon><span>Settings</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="#" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>
