<app-spinner [loading]="shouldDisplaySpinner()"></app-spinner>
<button
              mat-button
              color="primary"
              (click)="onResetClicked()"
            >
              <mat-icon>refresh</mat-icon>
            </button>
<mat-grid-list class="mat-list" cols="5" gutterSize="15px" rowHeight="600px">
  <mat-grid-tile *ngFor="let product of pagedProducts; let i = index">
    <a
      class="no-hover-underline"
      (click)="redirectToSingleProductPage(product.id.toString())"
    >
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>
            <img *ngIf="product.imageUrl"
            mat-card-image
            [src]="product.imageUrl"
            onerror="this.src='assets/images/no-product-picture.png'"
            />
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-left">
          <mat-card-title class="card-title">{{ product.productGroup.name }}</mat-card-title>
          <mat-card-subtitle>ID: {{ product.id }}</mat-card-subtitle>
          <mat-card-subtitle>{{
            getProductColor(product.color.toString()) | translate
          }}</mat-card-subtitle>
          <mat-card-subtitle
            >{{ product.furnitureDimensions.width }}m x
            {{ product.furnitureDimensions.depth }}m x
            {{ product.furnitureDimensions.height }}m</mat-card-subtitle
          >
          <mat-card-subtitle
            ><strong>Price: {{ product.price }},-</strong></mat-card-subtitle
          >
          <mat-card-subtitle
            *ngIf="!product.archive && product.amount > 0"
            class="available-message"
          >
          <span class="green-circle"></span>
            {{ "product.available" | translate }}
          </mat-card-subtitle>
          <mat-card-subtitle
            *ngIf="product.archive || product.amount == 0"
            class="available-message"
          >
          <span class="red-circle"></span>
            {{ "product.unavailable" | translate }}
          </mat-card-subtitle>
          <div class="star-rating">
            <ng-container
              *ngFor="
                let star of getStarArray(product.productGroup.averageRating)
              "
            >
              <mat-icon class="star-icon">{{ star }}</mat-icon>
            </ng-container>
          </div>
          <span class="d-inline-block g-color-primary rating"
            >{{ "product.rating" | translate }} {{ product.productGroup.averageRating }}</span
          >
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator
  [length]="products.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
></mat-paginator>
