<app-spinner [loading]="shouldDisplaySpinner()"></app-spinner>
<mat-grid-list class="mat-list" cols="4" gutterSize="15px" rowHeight="550px">
  <mat-grid-tile *ngFor="let product of pagedProducts; let i = index;">
    <a class="no-hover-underline" (click)="redirectToSingleProductPage(product.id.toString())">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>
            <img class="d-inline-block img-fluid mb-4" src="https://storage.googleapis.com/furniture-store-images/1.png" alt="zdjecie">
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="content-left">
          <mat-card-title>{{ product.productGroup.name }}</mat-card-title>
          <mat-card-subtitle>ID: {{ product.id }}</mat-card-subtitle>
          <mat-card-subtitle>{{product.furnitureDimensions.width}}m x {{product.furnitureDimensions.depth}}m x {{product.furnitureDimensions.height}}m</mat-card-subtitle>
          <mat-card-subtitle><strong>Price: {{ product.price }},-</strong></mat-card-subtitle>
          <div class="star-rating">
            <ng-container *ngFor="let star of getStarArray(product.productGroup.averageRating)">
              <mat-icon class="star-icon">{{star}}</mat-icon>
            </ng-container>
          </div>
          <span class="d-inline-block g-color-primary rating">Average Rating: {{product.productGroup.averageRating}}</span>
        </mat-card-content>
      </mat-card>
      <mat-divider class="divider" *ngIf="(i + 1) % 4 !== 0"></mat-divider>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator
  [length]="products.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"
></mat-paginator>
