.divider 
    height: 10px

.no-hover-underline 
  text-decoration: none
  color: inherit

.container
    margin-top:10px

.name
    text-align: left 
    font-size: 25px
    margin-bottom:5px
    font-weight: bold

.price
    margin-top:10px
    font-size:27px
    margin-bottom:5px

.rating 
    font-size:20px

.product-content
    text-align: left

.card-wrapper 
  display: flex
  flex-direction: column
  justify-content: flex-end
