<div>
  <br/>
  <div class="page-container top-container">
    <br/>
    <div class="page-container">
      <div
        class="content"
        [@loadedUnloadedList]="{ value: getListAnimationState() }"
      >
        <mat-card class="card">
          <h2 class="order-stats">
            {{"order.stats" | translate }}
          </h2>
          <button
            mat-button
            color="primary"
            class="resetButton"
            (click)="onResetClicked()"
          >
            <mat-icon>refresh</mat-icon>
          </button>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table
                [dataSource]="dataSource"
                matSort
                *ngIf="shouldDisplayTable()"
                (matSortChange)="onSortClicked($event)"
              >
                <ng-container matColumnDef="productGroupName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{"order.stats.product.group.name" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let orderStats">
                    {{orderStats.productGroupName}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="averageRating">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{"order.stats.product.average.rating" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let orderStats">
                    {{orderStats.averageRating}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{"order.stats.product.products.amount" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let orderStats">
                    {{orderStats.amount}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="soldAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{"order.stats.product.products.sold.amount" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let orderStats">
                    {{orderStats.soldAmount}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalIncome">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{"order.stats.product.products.total.income" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let orderStats">
                    {{orderStats.totalIncome}}
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator>
            </div>
            <mat-card class="card">
              <button button="submit" mat-stroked-button color="primary" (click)="openGenerateReportDialog()">
                <mat-icon style="margin-bottom: 3px;">insert_chart</mat-icon> {{'generate.report.title' | translate}}
              </button>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
