<div class="container">
  <div class="panel" [@loadedUnloadedForm]="{value: getFormAnimationState()}">
    <div class="image-container">
      <img class="background-image" src="assets/images/login-page-furnitures.jpg" alt="">
    </div>
    <form class="form-container" [formGroup]="loginForm" (submit)="loginForm.valid">
      <p class="form-title">{{'ssbd' | translate | uppercase}}</p>
      <p class="form-description">{{'login.subtitle' | translate}}</p>
      <div class="form">
        <div class="login-container">
          <mat-form-field hintLabel="{{'login.login.tip' | translate}}" appearance="fill" class="input">
            <mat-label>{{'login.enterLogin' | translate}}</mat-label>
            <input matInput #login placeholder="login" type="text" formControlName="login" required pattern="^[a-zA-Z][a-zA-Z0-9]*$" minlength="6" maxlength="20">
            <mat-error *ngIf="login.validity.patternMismatch">{{'login.validity.patternMismatch' | translate}}</mat-error>
            <mat-error *ngIf="login.validity.tooShort">{{'login.validity.tooShort' | translate}}</mat-error>
            <mat-hint align="end">{{login.value.length}}/20</mat-hint>
          </mat-form-field>
        </div>
        <div class="password-container">
          <mat-form-field hintLabel="{{'login.password.tip' | translate}}" appearance="fill" class="input">
            <mat-label>{{'login.enterPassword' | translate}}</mat-label>
            <input #password matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password" required pattern="^(?=.*[A-Z])(?=.*[!@#$%^&+=]).*$" minlength="8" maxlength="32">
            <mat-error *ngIf="password.validity.patternMismatch">{{'login.password.validity.patternMismatch' | translate}}</mat-error>
            <mat-error *ngIf="password.validity.tooShort">{{'login.password.validity.tooShort' | translate}}</mat-error>
            <mat-hint align="end">{{password.value.length}}/32</mat-hint>
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="forgot-password">
            <a routerLink="/forgot-password" class="forgot-password-link" >{{'login.forgot.password' | translate}}</a>
          </div>
        </div>
        <div class="button-container">
            <button mat-button color="primary" class="login-button" (click)="onLoginClicked()" [disabled]="!loginForm.valid">{{'login.login' | translate}}</button>
        </div>
      </div>
    </form>
    <div class="button-container">
      <button mat-button color="primary" class="login-button" (click)="onLoginWithGoogle()">Zaloguj sie z google</button>
    </div>

  </div>
</div>
