<div class="container">
  <div class="panel" [@loadedUnloadedForm]="{ value: getFormAnimationState() }">
    <form class="form-container" [formGroup]="changePasswordForm">
      <p class="form-title">{{ "change.password.button" | translate }}</p>
      <div class="form">
        <app-spinner [loading]="false"></app-spinner>
        <div class="email-container">
          <mat-form-field appearance="fill" class="input">
            <mat-label>{{ "change.password.current" | translate}}</mat-label>
            <input
              matInput
              #currentPassword
              type="password"
              formControlName="currentPassword"
              minlength="8"
              required
            />
          </mat-form-field>
        </div>
        <div class="email-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >
            <mat-label>{{ "change.password.new" | translate }}</mat-label>
            <input
              matInput
              #newPassword
              type="password"
              formControlName="newPassword"
              minlength="8"
              required
            />
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
              >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('matching')"
              >{{ "change.password.validity.matching" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('password')"
              >{{ "register.validity.format" | translate }}</mat-error
            >
          </mat-form-field>
        </div>

        <div class="button-container">
          <button mat-button type="button" (click)="onBackClicked()">
            {{ "change.email.back" | translate }}
          </button>
          <button mat-button type="submit" (click)="onPasswordChangeClicked()">
            {{ "change.email.confirm" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
