<div class="container">
  <div class="panel" [@loadedUnloadedForm]="{ value: getFormAnimationState() }">
    <form class="form-container" [formGroup]="changePasswordForm">
      <mat-card>
      <ul class="breadcrumb-list">
        <li *ngFor="let breadcrumb of breadcrumbData">{{ breadcrumb }}</li>
      </ul>
      <p class="form-title">{{ "change.password.button" | translate }}</p>
      <div class="form">
        <app-spinner [loading]="loading"></app-spinner>
        <div class="password-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >
            <mat-label>{{ "change.password.current" | translate}}</mat-label>

            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              #currentPassword
              type="password"
              formControlName="currentPassword"
              minlength="8"
              maxlength="32"
              required
            />

            <mat-hint align="end">{{ currentPassword.value.length }}/32</mat-hint>
            <mat-error
              *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')"
            >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('currentPassword')?.hasError('matching')"
            >{{ "change.password.validity.matching" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('currentPassword')?.hasError('pattern')"
            >{{ "login.password.validity.patternMismatch" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength')"
            >{{ "login.password.validity.tooShort" | translate }}</mat-error
            >

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>

          </mat-form-field>
        </div>
        <div class="password-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >

            <mat-label>{{ "change.password.new" | translate }}</mat-label>

            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              #newPassword
              type="password"
              formControlName="newPassword"
              minlength="8"
              maxlength="32"
              required
            />

            <mat-hint align="end">{{ newPassword.value.length }}/32</mat-hint>
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
              >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('matching')"
              >{{ "change.password.validity.matching" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')"
            >{{ "login.password.validity.patternMismatch" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')"
              >{{ "login.password.validity.tooShort" | translate }}</mat-error
            >

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="password-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >

            <mat-label>{{ "change.password.new.repeat" | translate }}</mat-label>

            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              #confirmPassword
              formControlName="confirmPassword"
              minlength="8"
              maxlength="32"
              required
            />

            <mat-hint align="end">{{ confirmPassword.value.length }}/32</mat-hint>
            <mat-error
              *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')"
            >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('confirmPassword')?.hasError('notmatching')"
            >{{ "register.validity.password.notmatching" | translate }}</mat-error
            >

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="button-container">
          <button mat-button type="button" (click)="onBackClicked()">
            {{ "change.email.back" | translate }}
          </button>
          <button mat-button type="submit" (click)="onPasswordChangeClicked()">
            {{ "change.email.confirm" | translate }}
          </button>
        </div>
      </div>
    </mat-card>
    </form>
  </div>
</div>
