<div class="page-container">
  <div class="panel" [@loadedUnloadedForm]="{ value: getFormAnimationState() }">
    <div class="image-container">
      <img
        class="background-image"
        src="assets/images/login-page-furnitures.jpg"
        alt=""
      />
    </div>
    <form class="form-container" [formGroup]="resetPasswordForm">
      <p class="form-title">{{ "reset.password.title" | translate }}</p>
      <div class="form">
        <app-spinner [loading]="loading"></app-spinner>
        <div class="login-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >
            <mat-label>{{
              "reset.password.newPassword" | translate
            }}</mat-label>
            <input
              #password
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              maxlength="32"
              required
            />
            <mat-error
              *ngIf="resetPasswordForm.get('password')?.hasError('required')"
              >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="resetPasswordForm.get('password')?.hasError('pattern')"
              >{{
                "login.password.validity.patternMismatch" | translate
              }}</mat-error
            >
            <mat-error
              *ngIf="resetPasswordForm.get('password')?.hasError('minlength')"
              >{{ "login.password.validity.tooShort" | translate }}</mat-error
            >
            <mat-hint align="end">{{ password.value.length }}/32</mat-hint>
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="password-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >
            <mat-label>{{
              "reset.password.confirmNewPassword" | translate
            }}</mat-label>
            <input
              #confirmPassword
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
              maxlength="32"
              required
            />
            <mat-error
              *ngIf="
                resetPasswordForm.get('confirmPassword')?.hasError('required')
              "
              >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="
                resetPasswordForm
                  .get('confirmPassword')
                  ?.hasError('notmatching')
              "
              >{{
                "register.validity.password.notmatching" | translate
              }}</mat-error
            >
            <mat-hint align="end"
              >{{ confirmPassword.value.length }}/32</mat-hint
            >
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button
            mat-button
            type="submit"
            class="login-button"
            (click)="onConfirm()"
          >
            {{ "reset.password.button" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
