<app-spinner [loading]="loading"></app-spinner>
<div class="container-fluid my-5  d-flex  justify-content-center">
  <div class="card card-1"
       [@loadedUnloadedList]="{ value: getListAnimationState() }"
  >
    <div class="card-header bg-white">
      <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
        <div class="col my-auto">
          <h4 class="mb-0">{{'order.details' | translate}}
            <span class="change-color">{{orderId}}</span>
            <button
              mat-button
              color="primary"
              class="resetButton"
              (click)="onResetClicked()"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-between mb-3">
        <div class="col-auto"> <h3 class="color-1 mb-0 change-color">{{'recipient' | translate}}:</h3> </div>
        <div class="col-auto"> <small class="recipient">{{getRecipientFullName()}}</small> </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-3 mb-3"> <small class="order-state"> {{'order.state' | translate}} <span><i class=" ml-2 fa fa-refresh"  aria-hidden="true"></i></span></small> </div>
        <div class="col mt-auto">
          <div class="progress my-auto"> <div class="progress-bar rounded" [style]="getProgressStyle()" role="progressbar" aria-valuenow="20" aria-valuemin="0"  aria-valuemax="100"></div> </div>
          <div class="media row justify-content-between ">
            <div class="col-auto text-right"><span> <small  class="text-right mr-sm-2"></small> <i class="fa fa-circle active"></i> </span></div>
            <div class="col-auto flex-col-auto"><small  class="text-right mr-sm-2">{{order.orderState | translate}}</small><span> <i  class="fa fa-circle"></i></span></div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let orderedProduct of getProducts()">
        <div class="col">
          <div class="card card-2">
            <div class="card-body">
              <div class="media">
                <div class="sq align-self-center">
                  <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" [src]="orderedProduct.product.imageUrl" width="135" height="135" onerror="this.src='assets/images/not-found.png'" alt=""/>
                </div>
                <div class="mx-5 media-body my-auto text-right">
                  <div class="row my-auto flex-md-row align-items-center">
                    <div class="col details">
                      <h3>{{'product.dimensions' | translate}}:</h3>
                      <small class="mb-0">{{orderedProduct.product.furnitureDimensions.width}}x{{orderedProduct.product.furnitureDimensions.height}}x{{orderedProduct.product.furnitureDimensions.depth}}</small>
                    </div>
                    <div class="col text-center details">
                      <h3>{{'amount' | translate}}:</h3>
                      <small>{{orderedProduct.amount}}</small>
                    </div>
                    <div class="col text-center details">
                      <h3>{{'add.product.category' | translate}}:</h3>
                      <small>{{orderedProduct.product.productGroup.category.name | translate}}</small>
                    </div>
                    <div class="col text-center details">
                      <h3>{{'add.product.weight' | translate}}:</h3>
                      <small>{{orderedProduct.product.weight}}kg</small>
                    </div>
                    <div class="col text-center details">
                      <h3>{{'add.product.price' | translate}}:</h3>
                      <small class="mb-0">{{round(orderedProduct.product.price)}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="row justify-content-between">
            <div class="flex-sm-col text-right col"> <p class="mb-1"><b>{{'total' | translate}}</b></p> </div>
            <div class="flex-sm-col col-auto"> <p class="mb-1">{{round(order.totalPrice)}}</p> </div>
          </div>
          <div class="row justify-content-between">
            <div class="flex-sm-col text-right col"><p class="mb-1"><b>{{'delivery.charges' | translate}}</b></p></div>
            <div class="flex-sm-col col-auto"><p class="mb-1">{{'free' | translate}}</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="jumbotron-fluid">
        <div class="row justify-content-between ">
          <div class="col-auto my-auto"><h2 class="mb-0 font-weight-bold">{{'products.total.price' | translate | uppercase}}</h2></div>
          <div class="col-auto my-auto ml-auto"><h1 class="display-3 ">{{round(order.totalPrice)}}</h1></div>
        </div>
      </div>
    </div>
  </div>
</div>
