<app-spinner [loading]="loading"></app-spinner>
<div class="container">
  <div class="panel" [@loadedUnloadedList]="{value: getListAnimationState()}">
    <mat-action-list *ngIf="!loading" class="list-container" #accounts>
      <ul class="button-list">
        <li>
          <button mat-raised-button color="primary" class="styled-button" (click)="addAccountGroupToAccount('administrator')">
            <mat-icon>security</mat-icon>
            {{'role.administrator' | translate}}
          </button>
        </li>
        <li>
          <button mat-raised-button color="primary" class="styled-button" (click)="addAccountGroupToAccount('employee')">
            <mat-icon>person</mat-icon>
            {{'role.employee' | translate}}
          </button>
        </li>
        <li>
          <button mat-raised-button color="primary" class="styled-button" (click)="addAccountGroupToAccount('sales_rep')">
            <mat-icon>shopping_cart</mat-icon>
            {{'role.sales_rep' | translate}}
          </button>
        </li>
        <li>
          <button mat-raised-button color="primary" class="styled-button" (click)="addAccountGroupToAccount('client')">
            <mat-icon>person_pin</mat-icon>
            {{'role.client' | translate}}
          </button>
        </li>
      </ul>
    </mat-action-list>
  </div>
</div>
