<div class="container">
  <div class="panel" [@loadedUnloadedForm]="{ value: getFormAnimationState() }">
    <div class="image-container">
      <img
        class="background-image"
        src="assets/images/login-page-furnitures.jpg"
        alt=""
      />
    </div>
    <form class="form-container" [formGroup]="forgotPasswordForm">
      <p class="form-title">{{ "forgot.password.title" | translate }}</p>
      <div class="form">
        <app-spinner [loading]="loading"></app-spinner>
        <div class="email-container">
          <mat-form-field
            hintLabel="{{ 'register.hint.max.32' | translate }}"
            appearance="fill"
            class="input"
          >
            <mat-label>{{ "register.label.email" | translate }}</mat-label>
            <input
              matInput
              #email
              type="text"
              formControlName="email"
              maxlength="32"
              placeholder="jdoe@example.com"
              required
            />
            <mat-error
              *ngIf="forgotPasswordForm.get('email')?.hasError('required')"
              >{{ "register.validity.required" | translate }}</mat-error
            >
            <mat-error
              *ngIf="forgotPasswordForm.get('email')?.hasError('email')"
              >{{ "register.validity.format" | translate }}</mat-error
            >
            <mat-hint align="end">{{ email.value.length }}/32</mat-hint>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-button type="submit" (click)="onConfirm()">
            {{ "forgot.password.button" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
